body {
  font-family: Anonymous Pro, Courier;
  font-size: 1em;
  background-color: #e9e0d6;
}
h1 {
  font-family: Cedarville Cursive, Courier;
  color: #324154;
  text-align: center;
  font-size: 175px;
  margin: 0 auto;
}
#name {
  font-size: 195px;
}
.header {
  height: 175px;
  width: 100%;
  background-color: #29aba4;
  text-align: center;
}
.header h1 {
  color: #324154;
  display: block;
  position: absolute;
  left: 17%;
  margin-top: -75px;
  z-index:1;
}
.headshot {
  height: 250px;
  width: 325px;
  border: 10px solid #29aba4;
  transform: rotateZ( 90deg );
  float: left;
}
.headshot img {
  width: 100%;
  height: inherit;
  overflow: hidden;
  border-left: 30px solid;
  border-color: #29aba4;
}
.bullets {
  font-family: Anonymous Pro, Courier;
  color: #324154;
  font-size: 20px;
  margin: 0 auto;
  float: right;
  width: 73%;
}
.bullets ul li {
  line-height: 50px;
}
a {
  text-decoration: none;
  color: #eb7260;
}
a:hover {
    color: #29aba4;
}
/*color palette source: "http://www.dtelepathy.com/blog/inspiration/beautiful-color-palettes-for-your-next-web-project"*/
/*the dark blue is #324154*/
/*the teal is #29aba4*/
/*the rose is #eb7260*/
/*the fawn is #e9e0d6*/
/*the cerulean is #3a9ad9*/
